header{
  @include liGray-to-white;

  top: 0;
  left: 0;
  width: 100vw;
  position: relative;
  padding: 20px 0;
  overflow: visible;

  .bg_top_header{
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
  }

  .top_banner_header {
    height: 40px;
    width: 100vw;
    background-color: $primary-color;
  
    p {
      text-align: center;
      color: $light;
      line-height: 40px;
      letter-spacing: 5px;
      font-size: 0.7rem;
    }
  }

  .top-menu-mobile{
    display: none;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

    .block-icon{
      width: 30px;
      height: 35px;
      position: relative;
      overflow: hidden;

      img{
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        transform:translateY(0);
        transition: all ease-in 300ms;
      }

      &:hover{
        img{
          transform: translateY(35px);
        }
      }
    }

    a{
      color: $dark-gray;
      font-weight: 600;
    }

    p{
      border-right: 1px solid $primary-color;
      padding-right: 20px;
    }

    .rs{
      width: 30px;

      img{
        object-fit: contain;
      }
    }

    a,
    p,
    .rs{
      margin-bottom: 0;
    }
  }
  
  .header {
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  
    .col-g {
      width: 15%;
      position: relative;
      z-index: 10;
  
      .logo {
        max-height: 165px;
        height: 165px;
        margin-top: 20px;
        transition: all ease-in-out 300ms;

        img{
          object-fit: contain;
        }

        &:hover{
          transform: translateY(-5px);
        }
      }
    }
  
    .col-d {
      width: 85%;

      .top-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        margin-top: 50px;

        .infos-item{
          display: flex;
          align-items: center;
          gap: 20px;

          .block-icon{
            width: 30px;
            height: 35px;
            position: relative;
            overflow: hidden;
  
            img{
              position: absolute;
              bottom: 0;
              left: 0;
              height: auto;
              transform:translateY(0);
              transition: all ease-in 300ms;
            }
  
            &:hover{
              img{
                transform: translateY(35px);
              }
            }
          }
  
          a{
            color: $dark-gray;
            font-weight: 600;
          }
        }

    
        p{
          border-right: 1px solid $primary-color;
          padding-right: 20px;
        }

        .rs{
          width: 30px;

          img{
            object-fit: contain;
          }
        }

        a,
        p,
        .rs{
          margin-bottom: 0;
        }
      }

      .primary-navigation {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    
        #menu-navigation-principale,
        #menu-navigation-principale-neerlandais {
          list-style: none;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 30px;
    
          li {
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-top: 10px;
            position: relative;
            margin-bottom:0;
            text-align: left;
            z-index: 11;
    
            a {
              color: $dark-gray;
              font-weight: 800;
              font-size: .9rem;
              transition: font-weight ease-out 200ms;
              position: relative;

              &::before{
                content:'';
                height: 2px;
                width: 100%;
                position: absolute;
                background-color: $primary-color;
                bottom: 0;
                left: 0;
                transform: scaleX(0);
                transform-origin: left;
                transition: all ease-in 300ms;
              }
    
              &:hover {
                font-weight: 800;

                &::before{
                  transform: scale(1);
                }
              }
            }
          }
         
          .menu-item-has-children {
            .sub-menu {
              display: none;
            }
    
            &:hover {
              .sub-menu {
                display: block;
                background-color: $light;
                border-bottom: 2px solid $primary-color;
                position: absolute;
                min-width: 150px;
    
                li {
                  color: $primary-color;
                  list-style: none;
                  display: block;
                  border-bottom: 1px solid $light-gray;
                  position: relative;
                  max-height: 50px;
                  padding: 5px 30px;
                  margin: 0;
                  min-width: 250px;
    
                  a {
                    color: $secondary-color;
                    text-transform: none;
                    letter-spacing: 0;
                    font-size: .9rem;
                    font-weight: 500;
                    width: 90%;
                    display: block;
                    padding: 2% 5%;
                    margin: 0;

                    &::before{
                      content: none;
                      display: none;
                    }
                  }
    
                  &:hover {
                    background-color: $primary-color;
                    border-color: $primary-color;
                    min-height: auto;
    
                    a {
                      color: $light;
                    }
    
                    .sub-menu {
                      display: block;
                    }
                  }
    
                  .sub-menu {
                    display: none;
                    position: absolute;
                    right: -300px;
                    top: 0;
    
                    li {
                      a {
                        color: $secondary-color;
                        text-transform: none;
                        font-size: 0.9rem;
                        font-weight: 300;
    
                        &:hover {
                          color: $light;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .cta.btn{
        height: 20px;
        display: flex;
        justify-content: flex-end;
        background-color: $red-color;

        a{
          letter-spacing: 1px;
          font-size: .8rem;
          font-weight: 600;
        }

        svg{
          width: 25px;
        }
      }

      .btn-contact{
        text-align: right;
        display: flex;
        justify-content: flex-end;
        margin-top: 55px;
        margin-bottom: -50px;
      }
    }
  
    .hamburger-menu {
      display: none;
      stroke: $light;
    }
  }

  .megamenu{
    display: none;
  }
}

.swiper-hero{
  width: 100vw;
  margin: 50px auto 150px 0;

  .swiper-wrapper{
      h2{
        font-size: 2.3rem;
        color: $dark-dark-gray;
        line-height: 2.8rem;
        margin-left: 21vw
      }

      p{
        margin-left: 21vw;
      }

      a{
        color:$primary-color;
        font-weight: 600;
      }

      table{
        margin-left: 25vw;
        margin-right: 10vw;
        width: 65vw;

        tr{
          td{
            max-width: 250px;

            h2,
            p{
              width: 250px;
              margin-left: 0;
              text-align: left;
            }
            
            h2 + p{
              min-height: 70px;
            }

            img{
              max-width: 80px;
            }
          }
        }
      }
  }

  .navigation-slider{
    right: 10vw;
    bottom: 0;
    position: absolute;
  }

  .swiper-button-next,
  .swiper-button-prev{
    bottom: calc(50% - 50px);
    background-color: $light-gray !important;
    opacity: .8;
    height: 100px;
  }

  .swiper-button-next{
    right: 0;
    left: auto;
  }

  .swiper-button-prev{
    left: 0;
    right: auto;
  }

  .swiper-pagination{
    // text-align: right;
    // right: 0;
    // left: auto;
    // width: 100px;
    text-align: center;
    width: 100vw;
    margin: auto;

    .swiper-pagination-bullet-active{
      color: $primary-color;
      background-color: $primary-color;
    }
  }
}

