/* CSS Mobile */
@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }

  h1 {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .nodesktop{
    display: block!important;
  }

  .nomobile{
    display: none !important;
  }

  // COMMUN

  .subtitle {
    letter-spacing: 4px;
    font-size: 0.8rem;
  }

  .container.columns {
    flex-direction: column;

    .col-g,
    .col-d {
      width: 100%;
    }
  }

  header{
    padding: 20px 0 0 0;
    
    .bg_top_header{
      height: auto;
      width: 100%;
      margin-top: 50px;

      img{
        margin: auto;
      }
    }

    .btn.cta.nodesktop{
      height: 20px;
      top: 35px;
      margin-left: auto;
      border-radius: 0;
      overflow: hidden;
      background: $red-color;
      padding: 10px 25px;
      letter-spacing: 0;
      z-index: 16;
      display: flex!important;
      align-items: center;
      width: calc(100% - 50px);
      justify-content: center;
      text-transform: inherit;

      svg{
        height: 30px;
        width: 50px;
      }
  
      a{
        font-weight: 600;
        margin: 0;
        font-size: .85rem;
      }
  
      &::before{
        margin-top: 0;
      }
  
      &.hidden{
        display: none;
      }
    }

    .top-menu-mobile{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      background-color: $secondary-color;
      padding: 10px 0;
      margin-top: 0;
      gap: 0;
      justify-content: center;

      .infos-item{
        display: flex;
        gap: 0;
        align-items: center;
        justify-content: center;
        width: 50%;
      }

      .infos-item + .infos-item{
        border-left: 1px solid $primary-color;
      }

      p{
        border: none;
        padding: 0;
      }

      .rs{
        display: none;
      }
    }

    .header{
      width: 100vw;
      flex-direction: column;

      .col-g,
      .col-d {
        width: 100%;
      }

      .col-g{
        a{
          margin:auto;
          width: fit-content;
          display: block;
          margin-top: 45px;
          
          .logo{
            height: 165px;
          }
        }

      }

      .col-d {
        display: flex;
        flex-direction: column-reverse;

        .top-menu{
          display: none;
        }

        .secondary-navigation,
        .primary-navigation {
          border-bottom: 3px solid $light-gray;
          padding-bottom: 10px;
          justify-content: center;
          width: 100%;

          .menu-navigation-principale-container{
            width: 100%;
          }

          #menu-navigation-principale{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;

            li{
              text-align: center;
              margin: auto;
              width: 100%;
              padding-top: 5px;

              a{
                font-size: .9rem;
              }
            }

            li + li {
              border-top: 1px dotted $light-gray;
            }
          }
        }
      }
    }

    .swiper-hero  {
      padding: 0;
      width: 80vw;
      padding: 0 10vw;
      margin: 30px auto 100px;

      .swiper-wrapper{
        margin-bottom: 50px;
        .swiper-slide{
          h2{
            font-size: 1.8rem;
            line-height: 2rem;
            margin: 150px 0 100px;
            text-align: center;
          } 

          table{
            margin: auto;
            width: 100%;

            tr{
              display: flex;
              flex-direction: column;

              td{
                max-width: 100%;

                img{
                  margin: auto;
                }

                h2{
                  margin: auto;
                  text-align: center;
                  width: 100%;
                  font-size: 1.5rem;
                }

                p{
                  text-align: center;
                  width: 100%;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev{
        height: 100px;
        width: 30px;
      }

      .swiper-button-next{
        right: 0;
      }

      .swiper-button-prev{
        left: 0;
      }
      
    }

    .megamenu {
      width: 100vw;
      height: 100vh;
      background-color: $primary-color;
      color: $light;
      transform-origin: right;
      transform: translateX(100vw);
      transition: all ease-in 150ms;
      position: fixed;
      z-index: 15;
      display: block;
      top: 0;

      .primary-navigation {
        position: absolute;
        bottom: 10vh;
        left: 10vw;
        width: 80vw;

        ul {
          list-style: none;

          li {
            text-align: left;
            margin-bottom: 0;

            a {
              font-weight: 400;
              font-size: 1.5rem;
              line-height: 2rem;
              margin-bottom: 0;
              text-transform: uppercase;
              letter-spacing: 3px;
            }

            .sub-menu {
              margin-top: 20px;
              display: none;
              
              li {
                margin: 0;
                margin-bottom: 10px;
                a {
                  font-size: 1.2rem;
                }
              }
            }
          }

          li + li {
            margin-top: 15px;
          }
        }
      }
    }

    .active-menu {
      transform: translateX(0);
      opacity: 1;
    }

    .fixed {
      position: fixed;
      left: 10vw;
      z-index: 16;

      .col-d{
        .hamburger-menu{
          svg{
            stroke: $light;
          }
        }
      }
    }
  }

  footer {
    .container {
      text-align: center;

      .footer-top {
        flex-direction: column;
        padding: 25px 0;
        
        .col {
          width: 100%;
          padding-bottom: 0px;
          padding: 0;
          text-align: center;
          flex-direction: column;
          gap: 0;

          p {
            text-align: center;
            margin-top: 30px;
          }

          p + p{
            margin-top: 0px;
          }

          .block-img{
            margin: auto;
          }
        }

        .col + .col {
          border-left: 0;
        }

        .col-2 {
          display: none;
        }

        .rs_footer {
          display: flex;
          flex-direction: column;

          a + a {
            margin-left: 10px;
          }
        }
      }
    }

    .footer_bottom {
      .desktop {
        display: none;
      }

      .mobile {
        display: block;

        .links {
          display: flex;
          justify-content: center;
          gap: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }

  /* Home */

  .cta-hero {
    display: none;
  }

  #section-introduction {
    padding: 0;

    .container{
      .col-g {
        h2 {
          margin-bottom: 50px;
        }
      }
  
      .col-d {
        margin-top: 0px;
        padding-left: 0;
        width: 100%;
      }
    }
    
  }

  #listing-biens{
    background-color: $light;
    border-radius: 100px 100px 0 0;
    margin-top: -100px;
    padding: 50px 0;
  
    h2{
      color: $secondary-color;
      font-weight: 600;
      font-size: 2rem;
      margin: 50px 0 30px 0;
    }
  
    .btn{
      top: 0px;
      padding: 7px 15px;
      margin: auto;
      margin-top: -50px;

      a{
        text-align: left;
        letter-spacing: 0;
        font-size: .85rem;
      }

      svg{
        width: 30px;
      }
    }
  
    .grid{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
  
      .card{
        border-radius: 20px;
        min-height: 200px;
        overflow: hidden;
        -webkit-box-shadow: 9px 12px 38px 0px rgba(0, 0, 0, .1);
        box-shadow: 9px 12px 38px 0px rgba(0, 0, 0, .1);
        background: $light;
        padding-bottom: 30px;
  
        .details{
          gap: 30px;
          justify-content: center;
        }
      }
    }
  
    .cta-biens{
      margin: 50px auto;
      justify-content: center;
      align-items: center;
      gap: 0px;
      margin-bottom: 0;

    }
  }
  
  #card-listing{
    .columns{
      .col{
        width: calc(100% - 60px);
        padding: 25px 30px;
      }
    }
  }

  #section-2-tit {
    .container {
      .col-g {
        padding-top: 0;

        .cta {
          display: none;
        }
      }

      .col-d {
        display: flex;
        gap: 30px;

        .img-right {
          margin-bottom: 50px;
          width: 20%;

          .from-bottom {
            opacity: 1;
          }
        }

        span {
          width: 70%;
        }
      }
    }

    .nodesktop {
      .container {
        margin: auto;

        a {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }

  #section-extra {
    .container {
      margin-top: 0px;
      .col-d {
        .swiper-button-next {
          display: none;
        }
      }
    }
  }

  .page-template-contact {
    #contact-introduction,
    #formulaire{

      max-width: 90vw!important;

      .container{
        .colg,
        .cold{
          width: 100%;
        }

        &.-row{
          flex-direction: column;
          gap: 0;

          .colg,
          .cold{
            width: 100%;
          }
        }

        .cold{
          .cta-form{
            gap: 20px;

            .ctaVente,
            .ctaSearch{}
              align-items: center;
              display: flex;
              line-height: 1rem;
              padding: 5px 15px;
          }
        }
      }
  
      .content{
        width: 100%;
      }
  
      .wpcf7{
        form{
  
          .basic-questions{
            width: 100%;
          }
  
          .estate-question{
            .input-container{
              width: 100%;
    
              &.half{
                display: block;
    
                span{
                  width: 50%;
                }
              }
            }
  
            .wpcf7-acceptance{
              .wpcf7-list-item{
                label{ 
                  input {
                    width: 20px;
                  }
                }
              }
            }
          }
  
          input,
          select,
          textarea{
            background-color: transparent;
            border: 0px;
            border-bottom: 1px solid $dark-gray;
            padding: 1rem;
            color: $dark-gray;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            outline: none;
            transition: all ease-in 300ms;
  
            &:hover,
            &:focus{
              outline:none;
              border-bottom: 2px solid $primary-color;
            }
          }
  
          .cta{
            background-color: $secondary-color;
            width: fit-content;
            padding: 10px 50px;
            color: $light;
            margin-top: 50px;
          }
        }
      }
    }
  }

  .biens-template-single-biens{
    #introduction-single-bien{
      padding-top: 50px;
      margin-top: -1px;

      h1{
        font-size: 2.5rem;
        line-height: 2.5rem;

        .price{
          font-weight: 800;
          color : $secondary-color;
        }
      }
    }

    #description-biens{
      margin-top: -100px;
      
      .container{
        width: 80vw;
        height: 450px;

        .swiper-single-bien{
          .swiper-wrapper{
            .swiper-slide{
              height: 450px;
            }
          }
        }
      }

      .details-biens{
        gap: 30px;
      }
    }

    #caracteristiques-biens{
      .columns{
        grid-template-columns: repeat(1, 1fr);
      }
    }

    #galerie-bien{
      .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        a{
          .block-img{
            height: 200px;      
          }
        }
      }
    }
  }

  #liste-actualites,
  #simple-page {
    .container {
      flex-direction: row;
      .card-news.-left {
        .col-g {
          padding: 20px 40px;
          width: 70%;
        }
        .col-d {
          width: 70%;
          margin-left: -50%;
          overflow: hidden;
          max-height: 400px;
        }
      }

      .card-news.-right {
        .col-g {
          width: 70%;
          margin-right: -50%;
          overflow: hidden;
          max-height: 400px;
        }
        .col-d {
          padding: 20px 40px;
          width: 70%;
        }
      }

      .content-toggle.amenagements {
        grid-template-columns: repeat(1, 1fr);
      }

      .content-toggle {
        .accordion {
          width: calc(100% - 30px) !important;
        }
      }
    }
  }

  .page-template-services #liste-actualites {
    padding-bottom: 0px;
    border-bottom: 1px solid $light-gray;
  }

  #banner-fullwidth {
    .container {
      .subtitle {
        letter-spacing: 3px;
      }
      .cta {
        margin: 50px auto 0;
      }
    }
  }

  .tiny-separator {
    margin: 50px auto;
  }

  /********/

  #presa_product {
    .content_service {
      padding-left: 0;

      p {
        text-align: left;
        line-height: 1.5rem;
      }
    }
    .list-btn {
      display: flex;
      flex-direction: column;

      a {
        line-height: 1.5rem;
        white-space: pre-wrap;
      }
    }
  }

  #simple-page .container .cold,
  #section_bleue .container .cold,
  #outro .container .cold {
    padding-left: 10%;
  }

  // FRONT-PAGE

  #aboutus {
    padding-bottom: 100px;

    .swiper-mobile {
      display: block;
      position: relative;
      margin: -50px 0 100px auto;
      z-index: 10;
      min-height: 200px;
      width: 90vw;

      .swiper-horizontal {
        touch-action: pan-x;
      }

      .swiper-resp,
      .swiper-nos {
        // margin-left: 5vw;

        .swiper-slide {
          margin: auto;
          min-height: 320px;
          position: relative;
          overflow-y: hidden;

          a {
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
          }

          h4 {
            color: $light;
            position: absolute;
            z-index: 10;
            bottom: 30px;
            left: 30px;
            top: auto;
            font-size: 2rem;
            font-weight: 600;
            text-shadow: 0px 0px 10px #000000a3;
          }

          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            background-color: transparent;
            transition: all ease-in-out 200ms;
            height: 400px;
          }

          &:hover {
            &::before {
              background-color: $hover-transparent;
            }
          }
        }
      }
    }

    .container {
      .grid {
        display: none;
      }
    }

    .main-content {
      flex-direction: column;
      .col-g {
        width: 100%;
        img {
          margin-left: -15vw;
          height: 300px;
          min-height: auto;
          width: auto;
          max-width: inherit;
          bottom: -60px;
        }
      }

      .col-d {
        width: 100%;
        padding-top: 60px;
      }
    }
  }

  #section_nosproduits {
    padding-top: 150px;

    h3 {
      letter-spacing: 10px;
    }
  }

  #mot_president {
    .columns {
      flex-direction: column;

      .col-d,
      .col-g {
        width: 100%;
      }

      .col-g {
        img {
          margin-left: -15vw;
        }
      }

      .col-d {
        h3 {
          margin-top: 50px;
        }
      }
    }
  }

  #confiance {
    padding: 150px 0;
    .container {
      .table_qualite {
        flex-direction: column;

        .card_qualite {
          width: 100%;
        }

        .card_qualite + .card_qualite {
          border-left: 0;
          padding-left: 0;
        }
      }
    }
  }

  #disclaimer {
    top: -50px;

    .container {
      width: 100vw;

      .box-content {
        top: 30%;
        background-color: #233342;
        width: 70%;
        height: auto;
        padding: 30px;
        left: 20px;
      }
    }
  }

  #section-cta-contact {
    height: 600px;

    .container {
      padding: 0;
      width: 90vw;

      .bloc_img {
        margin-top: 0;
        width: 100%;
        max-width: 100%;
        height: 450px;
      }

      .content_section-cta {
        margin-left: -55%;
        margin-top: 100px;
        z-index: 3;
        padding: 30px;
        width: 80%;
        max-width: 80%;
      }
    }
  }

  #disclaimer_banner {
    .container {
      flex-direction: column;

      .colg {
        width: calc(100% - 60px);
        padding: 20px 30px;
      }
      .cold {
        width: 100%;

        .cta {
          right: -20px;
          left: auto;
          top: -25px;
          position: absolute;
        }
      }
    }
  }

  #actualites {
    .container {
      .intro_actu {
        flex-direction: column;

        h2,
        p {
          width: 100%;
        }

        p {
          margin-top: 0;
          padding-top: 0;
        }
      }

      .grid_articles {
        flex-direction: column;

        .card_article {
          width: 100%;

          .home-thumbnail {
            max-height: 250px;
            overflow: hidden;

            img {
              display: block;
              width: auto;
              margin-top: -100px;
            }
          }

          h3 {
            font-size: 2rem;
            line-height: 2.5rem;
          }

          &:last-child {
            margin-top: 0;
          }
        }
      }

      .view_more {
        margin-top: 100px;
      }
    }
  }

  #section-cta-contact {
    padding-top: 100px;
  }

  #mot_president {
    .container {
      .columns {
        .col-d {
          margin-top: 180px !important;
        }
      }
    }
  }

  #contact {
    h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  //Contact

  #modif {
    padding: 100px 0 !important;
  }

  #contact-content {
    padding-top: 200px !important;

    h1 {
      font-size: 2.7rem !important;
      line-height: 3.2rem !important;
    }
  }

  #contact-service {
    margin-top: 50px;
  }

  .page-template-informations #information .cold,
  .page-template-informations #section_bleue .cold,
  .page-template-informations #outro .cold {
    padding-left: 10%;
  }

  .page-template-a-propos{
    #introduction{
      .container{
        .cold{
          padding: 50px 0;
          margin: 0;
        }
      }
    }

    #paragraphe-2{
      h2{
        line-height: 2.5rem;
        margin-bottom: 50px;
      }
    }

    #section-avantages{
      padding: 50px 0;

      .columns{
        .col{
          width: 100%;

          .block-img{
            border-left: none;
            height: 120px;
          }

        }
      }
    }
  }

  /* Page Listing */

  .page-template-listing-biens{
    #listing-biens{
      .cta-biens{
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 50px;
        flex-wrap: wrap;

        .page-numbers{
          margin-bottom: 0;
          padding: 0;
          letter-spacing: 0;

          &.next,
          &.prev{
            padding:0 15px;
          }
        }
      }
    }
  }

  #citation {
    .top_content {
      margin: 100px auto;
    }
  }
}



// Retina Screen

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px),
  only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px),
  only screen and (min-resolution: 192dpi) and (min-width: 1300px),
  only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  #disclaimer {
    .container {
      margin: auto;
    }
  }
}
