.page-template-a-propos {
  #header {
    height: 250px;
  }

  #introduction {
    padding: 50px 0;
    .container {
      .colg {
        position: relative;
        z-index: 10;

        h2{
          strong{
            color: $dark-dark-gray;
          }
        }
      }
      .cold {
        padding-left: 20%;
        margin: 100px 0 150px;
      }
    }
  }

  #section-avantages{
    background-color: $primary-color;
    padding: 100px 0 75px;

    .columns{
      justify-content: space-between;

      .block-img{
        height: 200px;

        img{
          object-fit: contain;
        }
      }

      h2{
        margin: 20px auto;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: $light;
        font-weight: 600;
      }

      p{
        text-align: center;
        color: $light;
      }
    }

    .container{
      .cta{
        margin : 50px auto 0;
        text-align: center;
        background-color: $dark-dark-gray;
      }
    }
  }

  #contact {
    background-color: $light !important;

    form{
      margin-bottom: 0;
    }
  }
}
