.page-template-contact {

  h2{
    color: $dark-gray;
  }

  #contact-introduction,
  #formulaire{
    position: relative;
    max-width: 1375px;
    width: 90%;
    padding: 100px 0 0;
    margin: auto;

    .title{

      &.titlelvl2{
        font-size: 3rem;
        line-height: auto;
        font-weight: 500;
      }
    }

    .content{
      width: 100%;

      table{
        width: 50%;
        margin: auto;

        h3{
          font-size: 1.2rem;
        }

        a{
          color: $primary-color;
        }
      }
    }
  }

  #contact-introduction{
    .container{
      gap: 60px;

      .colg{
        width: 40%;

        h1{
          font-size: 2.3rem;
          line-height: 2.5rem;
          margin-bottom: 20px;
        }
      }

      .cold{
        width: 60%;
        margin-top: 50px
      }

      .contactInfos{
        padding-top: 20px;
        margin: 30px auto;
        border-top: 1px solid $primary-color;

        h3{
          font-size: 1rem;
          line-height: 1.2rem;
          margin-bottom: 20px;
          color: $primary-color;
        }

        a,
        p{
          color: $dark-dark-gray;
          font-weight: 600;
        }
      }

      .cta{
        border-radius: 5px;
        margin-bottom: 0;
        font-size: .9rem;
        width: 50%;
        letter-spacing: 0;
        font-weight: 500;
        text-transform: none;

        &::before{
          content: none;
        }

        &.cta-dark{
          background-color: $dark-dark-gray;
        }

        &.inactif{
          border: 1px solid $dark-dark-gray;
          background: none;
          color: $dark-dark-gray;
        }
      }
    }
  }

  #formulaire-recherche,
  #formulaire-vendre{
    display: none;

    &.active{
      display: block;
    }
  }

  #formulaire{
    padding-top: 5vh;
    width: 100%;

    h3{
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    .wpcf7{
      form{
        margin: auto;
        padding-top: 0;
        margin-bottom: 150px;
        width: 100%;

        .basic-questions{
          width: 100%;

          h2{
            margin: 10vh auto 5vh;
          }

          .input-container{
            width: 100%;
  
            &.half{
              display: flex;
              gap: 30px;
              justify-content: space-between;
  
              span{
                width: 50%;
              }
            }
          }

          .wpcf7-acceptance{
            .wpcf7-list-item{
              margin: 0;

                label{
                  display: flex;
                  justify-content: space-between;
                  gap: 30px;
                  align-items: flex-start;
                  text-align: justify;
                  text-align-last: left;
                  font-size: 1rem;

                  input{
                    width: 30px;
                  }
                }
            }
          }
        }

        input,
        select,
        textarea{
          background-color: transparent;
          border: 0px;
          border-bottom: 1px solid $dark-gray;
          padding: 1rem;
          color: $dark-gray;
          width: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-family: "Montserrat", sans-serif;
          font-size: 1rem;
          outline: none;
          transition: all ease-in 300ms;

          &:hover,
          &:focus{
            outline:none;
            border-bottom: 2px solid $primary-color;
          }
        }

        .cta{
          background-color: $green;
          width: fit-content;
          padding: 10px 50px;
          color: $light;
          margin-top: 50px;
        }
      }
    }
  }

  &.page-id-29016,
  &.page-id-930{
    #contact-introduction{
      .columns{
        flex-direction: column;
        gap: 0;
      }

      .container{
        .contactInfos{
          display: none;
        }
      }

      #formulaire{
        max-width: 50vw;
        margin: auto;
      }
    }
  }
}