.page-template-contact {
  header{
    // background: linear-gradient(180deg, #ffcb32 0%, #ffbf36 100%);
    // background-image: url('./../../assets/images/header_contact.png');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;

    .bg_top_header{
      display:none;
    }
  }

  h2{
    color: $dark-gray;
  }

  #contact-introduction,
  #formulaire{
    position: relative;
    max-width: 1375px;
    width: 90%;
    padding: 10vh 0 0;
    margin: auto;

    .title{
      margin-bottom: 10vh;

      &.titlelvl2{
        font-size: 3rem;
        line-height: auto;
        font-weight: 500;
      }
    }

    .content{
      width: 100%;
    }

    .wpcf7{
      form{
        margin: auto;
        padding-top: 0;
        margin-bottom: 150px;

        .basic-questions{
          width: 100%;
        }

        .estate-question{
          h2{
            margin: 10vh auto 5vh;
          }

          .input-container{
            width: 100%;
  
            &.half{
              display: flex;
              gap: 30px;
              justify-content: space-between;
  
              span{
                width: 50%;
              }
            }
          }

          .wpcf7-acceptance{
            .wpcf7-list-item{
              margin: 0;

                label{
                  display: flex;
                  justify-content: space-between;
                  gap: 30px;
                  align-items: flex-start;
                  text-align: justify;
                  text-align-last: left;
                  font-size: 1rem;

                  input{
                    width: 30px;
                  }
                }
            }
          }
        }

        input,
        select,
        textarea{
          background-color: transparent;
          border: 0px;
          border-bottom: 1px solid $dark-gray;
          padding: 1rem;
          color: $dark-gray;
          width: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-family: "Montserrat", sans-serif;
          font-size: 1rem;
          outline: none;
          transition: all ease-in 300ms;

          &:hover,
          &:focus{
            outline:none;
            border-bottom: 2px solid $primary-color;
          }
        }

        .cta{
          background-color: $dark-dark-gray;
          width: fit-content;
          padding: 10px 50px;
          color: $light;
          margin-top: 50px;
        }
      }
    }
  }

  #formulaire{
    padding-top: 5vh;
  }
}
