.biens-template-single-biens{
    #introduction-single-bien{
        background-color: $light-gray;
        padding-bottom: 150px;
        padding-top: 100px;

        h1{
            text-align: center;
            color: $dark-dark-gray;
            font-size: 3.5rem;
            line-height: 3.5rem;

            .price{
                font-weight: 800;
                color : $dark-dark-gray;
            }
        }

        p{
            text-align: center;
        }

        .columns{
            margin: 50px auto 0;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .cta{
                margin-bottom: 0;
                font-size: 1rem;
                line-height: 1.2rem;
                letter-spacing: 3px;
                text-transform: none;
                letter-spacing: 0;
            }
        
            form{
                margin: 0;
                padding: 0;

                button.cta{
                    margin: 0;
                    border: none;
                    font-size: 1rem;
                    line-height: 1.2rem;
                    background: $dark-dark-gray;
                    cursor: pointer;

                    &::before{
                        content: inherit;
                    }

                    &:hover{
                        background-color: $middle-gray;
                    }
                }
            }

            .ctanotaire{
                text-align: center;
                color: $light;
                font-weight: 500;
                line-height: 1.2rem;
                margin: 0;
                display: block;
                background-color: #23b2c0;
                padding: 10px 30px;
                border-radius: 5px;
            }
        }
    }

    #description-biens{
        margin-top: -100px;
        .container{
            position: relative;
            height: 600px;

            .swiper-single-bien{
                .swiper-wrapper{
                    .swiper-slide{
                        height: 600px;
    
                        .logo_peb{
                            position: absolute;
                            right: 40px;
                            bottom: 40px;
                            width: 100px;
                        }
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev{
                top: calc(50% - 30px);
                clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
                height: 60px;
            }

            .swiper-button-next{
                right: -25px;
                left: auto;
                top: calc(50% - 30px);
                clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
                height: 60px;
            }

            .swiper-button-prev{
                right: auto;
                left: -25px;
            }
        }

        .details-biens{
            display: flex;
            gap: 50px;
            height: auto;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 50px auto;
            gap: 70px;
            border-bottom: 1px solid $middle-gray;
            padding-bottom: 50px;

            .col{
                .block-img{
                    height: 50px;
                    margin-bottom: 15px;

                    img{
                        object-fit: contain;
                    }
                }

                p{
                    text-align: center;

                    strong{
                        color: $primary-color;
                    }
                }
            }
        }
    }

    #caracteristiques-biens{
        padding: 50px 0;

        .container{
            border-color: $middle-gray;
            border-width : 1px 0 1px 0;
            border-style: solid;
            padding: 50px 0;
        }

        h2{
            color: $dark-dark-gray;
        }

        .columns{
            padding: 100px 0;
            justify-content: space-between;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
            border:none;

            .toggle-section{
                .toggle-button{
                    font-size: 1rem;
                    line-height: 2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    border-bottom: 1px solid $light-gray;
                    position: relative;
        
                    &::after{
                        content:'';
                        border-color: $primary-color;
                        border-style: solid;
                        border-width: 0 3px 3px 0;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        display: block;
                        right: 0;
                        bottom: calc(50% - 3px);
                        transform: rotate(-135deg);
                        transform-origin: center center;
                        transition: all ease-in 200ms;
                    }

                    &.active{
                        &::after{
                            transform: rotate(45deg);
                        }
                    }
                }

                .toggle-content{
                    overflow: hidden;
                    max-height: 0;
                    transition: all ease-in 300ms;
                    margin-bottom: 15px;

                    p{
                        margin-bottom: 0;
                    }

                    &.active{
                        transform: scaleY(1);
                    }
                }
            }
        }
    }

    #galerie-bien{
        .container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;

            a{
                .block-img{
                    height: 320px;
                    position: relative;
                    z-index: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-origin: center center;
                    transition: all ease-in 300ms;


                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-color: $dark-dark-gray;
                        opacity: 0;
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: all ease-in 300ms;
                    }

                    &::after{
                        content:'+';
                        display: block;
                        height: 35px; /* adjust to control the size  */
                        aspect-ratio: cos(30deg);
                        clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
                        background: $graysTransparent;
                        text-align: center;
                        color: $light;
                        font-size: 2rem;
                        padding-top: 5px;
                        opacity: 0;
                        transition: all ease-in 300ms;
                    }

                    &:hover{    
                        &::before{
                            opacity: .5;
                        }
    
                        &::after{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}