.page-template-single {
  #simple-text-intro{
    .container{
      h1{
        margin: 80px 0 30px;
      }

      h2{
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin-top: 20px;
        font-weight: 600;
      }

      table{
        border-collapse: collapse;
        width: 100%;
        margin: 30px auto;
        tr{
          th{
            p{
              text-align: center;
            }
          }

          td{
            border: 1px solid $middle-gray;
            padding: .2rem .5rem;

            strong{
              font-weight: 600;
            }

            a{
              color: $primary-color;
              font-weight: 400;
            }
          }
        }
      }

      ul{
        margin-left: 30px;
        
        li{
          margin-bottom: 0;
        }
      }
    }
  }
}
